@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

*{
    margin: 0px;
    padding: 0px;
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}



.bgTop {
    z-index: 15;
    opacity: 0.5;
    
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}





.waveWrapper2   {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -10px;
    margin: auto;
    margin-block-end: 80px;   
}

.waveWrapper3   {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -10px;
    margin: auto;
    margin-block-end: 80px;   
}

.waveWrapperInner2 {
    position:absolute;
    width: 100%;
    height: 100%;
    bottom: -5px;
    background-repeat: no-repeat;

}

.waveWrapperInner3 {
    width: 100%;
    height: 112%;
    background-repeat: no-repeat;
    top: 10%;
    
}


.bgTop2 {
    z-index: 15;
    
    transform: rotate(-179.9deg);
}

.bgMiddle2 {
    z-index: 10;
    opacity: 2.6;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */

}

.bgBottom2 {
    z-index: 5;
}


.wave2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    transform: rotate(90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */

}

.waveTop2 {
    background-size: 50% 100px;
   
}

.waveAnimation2 .waveTop2 {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}

.waveMiddle2 {
    background-size: 50% 120px;
    transform: rotate(90deg);
    -ms-transform: rotate(-70deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    top: -10px;
}

.waveAnimation2 .waveMiddle2 {
    animation: move_wave 10s linear infinite;
    
   
}
.wave2 .Bottom2 {
    background-size: 50% 100px;
    
   
}
.waveAnimation2 .waveBottom2{
    animation: move_wave 15s linear infinite;

}


.img{
    size: 100%;
}







